<aside class="aside grid__item--e">
	<div class="aside__sticky-wrapper">
		<ul class="aside__list">
		    <li class="aside__item">
		    	<a href="" title="">mail</a>
		    </li>
		    <li class="aside__item">
		    	<a href="" title="">dribbble</a>
		    </li>
		    <li class="aside__item">
		    	<a href="" title="">github</a>
		    </li>
		    <li class="aside__item">
		    	<a href="" title="">linkedin</a>
		    </li>
		</ul>
	</div>
</aside>
