<footer class="footer">
    <div class="grid grid--b">
		<%= partial "partials/aside" %>
        <%= partial "partials/grid-lines/footer" %>
        <div class="grid__item--illustration">
            <%= partial "partials/svg/illustration" %>
        </div>
        <div class="grid__item--c">
        	<h2 class="c-title--h2">Contact</h2>
			<p>Tasos is not currently looking for full-time opportunities, but is always open to collaborations and helping out people. If you’re interested in discussing a project, making something great together, or simply chatting about vintage USSR animations, please write to<span> hello@teyepe.com</span></p>
			<p>Keep on rocking!&emsp;🤘</p>
		</div>
        <div class="footer__colophon grid__item--f">
            <h3 class="c-title--h5">Colophon</h3>
            <p>Designed and developed. Typeset in Forma DJR and Eurostile.</p>
        </div>
	</div>
</footer>
