<div class="samples">
	<ul class="samples__list">
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	    <li class="samples__item"></li>
	</ul>
</div>
