@mixin button(
    $bt-arrow: true,
    $bt-border: false,
    $bt-size: normal,
    $bt-color: $orange,
    $bt-display: inline-block
    ) {
    @if $bt-border {
        background-color: transparentize($bt-color, .92);
        color: $bt-color;
        @if $bt-size == xs {
            border: 1px solid $bt-color;
            @if $get-px {
                padding: ($uni*1.25 - 1) $uni*1.5 ($uni - 1);
            } @else {
                padding: ($uni*1.25 - 1/$pixel-base) $uni*1.5 ($uni - 1/$pixel-base);
            }
        } @else if $bt-size == sm {
            border: 1px solid $bt-color;
            @if $get-px {
                padding: ($uni*2 - 1) $uni*2.5;
            } @else {
                padding: ($uni*2 - 1/$pixel-base) $uni*2.5;
            }
        } @else if $bt-size == lg {
            border: 2px solid $bt-color;
            @if $get-px {
                padding: ($uni*3 - 2) $uni*3.5;
            } @else {
                padding: ($uni*3 - 2/$pixel-base) $uni*3.5;
            }
        } @else if $bt-size == xl {
            border: 2px solid $bt-color;
            @if $get-px {
                padding: ($uni*3.5 - 2) $uni*4;
            } @else {
                padding: ($uni*3.5 - 2/$pixel-base) $uni*4;
            }
        } @else {
            border: 2px solid $bt-color;
            @if $get-px {
                padding: ($uni*2.5 - 2) $uni*3;
            } @else {
                padding: ($uni*2.5 - 2/$pixel-base) $uni*3;
            }
        }
    } @else {
        @if $bt-size == xs {
            padding: $uni*1.25 $uni*1.5 $uni;
        } @else if $bt-size == sm {
            padding: $uni*2 $uni*2.5;
        } @else if $bt-size == lg {
            padding: $uni*3 $uni*3.5;
        } @else if $bt-size == xl {
            padding: $uni*3.5 $uni*4;
        } @else {
            padding: $uni*2.5 $uni*3;
        }
        background-color: $bt-color;
        border: none;
        color: dyn-color($bt-color);
    }
    @if $bt-size == xs {
        @include ms-font(normal, 'Montserrat', $sans, ms(0, $default-font-size*0.75), 3);
    } @else if $bt-size == sm {
        @include ms-font(normal, 'Montserrat', $sans, ms(0, $default-font-size*0.875), 3);
    } @else if $bt-size == lg {
        @include ms-font(normal, 'Montserrat', $sans, ms(0), 3);
    } @else if $bt-size == xl {
        @include ms-font(normal, 'Montserrat', $sans, ms(0, $default-font-size*1.125), 3);
    } @else {
        @include ms-font(normal, 'Montserrat', $sans, ms(0), 3);
    }
    border-radius: $uni*0.5;
    display: $bt-display;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.125s ease-out 0s;
    white-space: nowrap;
    @if $bt-display == inline-block {
        vertical-align: middle; 
    }
    &:hover,
    &:focus {
        @if $bt-border {
            border-color: chroma-tint($bt-color, 10);
        }
        @if (yiq-is-light($bt-color, 128)) {
            box-shadow: 0 ($uni*1.25) ($uni*2) (-$uni) transparentize(shade($bt-color, 65), .4);
        } @else {
            box-shadow: 0 ($uni*1.25) ($uni*2) (-$uni) transparentize(shade($bt-color, 55), .4);
        }
        background-color: chroma-tint($bt-color, 10);
        color: dyn-color(chroma-tint($bt-color, 10));
        cursor: pointer;
        transition: all 0.095s ease-in 0s;
        &:after {
            transform: translateX($uni);
        }
    }
    &:active {
        @if $bt-border {
            background-color: transparentize(chroma-shade($bt-color, 10), .8);
            border-color: chroma-shade($bt-color, 10);
            color: chroma-shade($bt-color, 10);
        } @else {
            background-color: chroma-shade($bt-color, 10);
            color: dyn-color(chroma-shade($bt-color, 10));
        }
        box-shadow: none;
        cursor: pointer;
    }
    &:focus {
        outline: 0;
        tap-highlight-color: transparentize($grey-l-20, .25);        
    }
    @if $bt-arrow { 
        &:after {
            content: '\2192';
            display: inline-block;
            font-family: 'Montserrat', $sans;
            margin: 0 0 0 $uni;
            position: relative;
            top: -2px;
            transition: all 0.15s ease-out 0s;
        }
    }
}
