---
title: teyepe, aka Tasos Dervenagas
description: "Hey, I'm Tasos! your all-around Design guy 🤘"
---

<section class="intro">
    <div class="grid">
        <%= partial "partials/grid-lines/about" %>
        <div class="grid__item--d"></div>
        <div class="grid__item--a">
            <h1 class="c-title--h1">teyepe who?</h1>
            <p><span>Teyepe</span> is the moniker of multidisciplinary designer, art director, UI engineer, frontend developer, <del>fire breather</del> etc. <span>Tasos Dervenagas.</span></p>
            <p>He is working on user interfaces and design systems. Tasos is a design lead at <span>PeoplePerHour.</span></p>
        </div>
        <%= partial "partials/aside" %>
    </div>
</section>
<section class="about">
    <div class="grid grid--a">
        <%= partial "partials/grid-lines/info" %>
        <div class="grid__item--b">
            <h2 class="c-title--h2">About</h2>
            <p>Tasos is a Greek guy who currently lives in London. His design career spans over 18 years including senior roles in both traditional graphic design positions and the web. Most of his time he designs interfaces and quite often writes presentational code for the web. He cares a lot about user experience, reusability, functionalism and minimal yet meaningful design. He favours semantically structured markup, well designed CSS and component-based development.</p>
            <p>Throughout his professional endeavours, Tasos has <def class="sample__anchor js-sample">crafted </def><def class="sample__anchor js-sample">typefaces, </def><def class="sample__anchor js-sample">logotypes, </def>illustrations, <def class="sample__anchor js-sample">web </def>interfaces, <def class="sample__anchor js-sample">digital</def> <def class="sample__anchor js-sample">experiences</def> and <def class="sample__anchor js-sample">more</def>.</p>
            <p>Currently he designs complex web applications with a group of briliant folks at PeoplePerHour.</p>
        </div>
        <%= partial "partials/work-sample" %>
    </div>
</section>
