---
title: Tasos Dervenagas — Designer & UI Engineer
description: "Hello, I'm Tasos Dervenagas, your all-around Design guy 🤘"
---

<section class="welcome">
    <div class="background">
        <svg version="1.1" x="0px" y="0px" width="98.9px" height="105px" viewBox="0 0 98.9 105" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#2A2A36;}
            </style>
            <defs>
            </defs>
            <path class="st0" d="M51.7,98.7C24.4,98.7,6.6,77,6.6,51.2c0-25.8,19.5-45,43.7-45c27.8,0,39.5,21.8,41.7,36.2H31v6.3h15.1v17.8
                c0,18.7,7,22.6,16.8,22.6c6.9,0,18.4-3.5,28.5-10.9L88,73.4c-8.2,7.1-18.1,9.5-24,9.5c-5.5,0-11.7-1.9-11.7-16.3V48.7h46.5
                C97.5,22.4,80.2,0,49.2,0C21.4,0,0,23.6,0,50.5C0,77.3,16.7,105,51.7,105c7.1,0,13.9-1.1,20.6-3.3c8.9-2.9,17.4-7.8,25.6-14.5
                l-3-4.1C81.2,93.6,67,98.7,51.7,98.7z"/>
            <rect x="46.1" y="25.1" class="st0" width="6.3" height="11"/>
        </svg>

        <!-- <canvas id="turing" width="1024" height="1024"></canvas> -->
        <%= image_tag 'bg1.png', :id => 'my_class', :style => 'display: none' %>
    </div>
    <p class="row about">
        Teyepe is the moniker of Athens-based multidisciplinary designer, UI engineer and front-end developer Tasos Dervenagas. Tasos has a keen interest in CSS, Semantic HTML and Web Standards. He has also an intuitive love for Typography, Grid Systems and Modular Design.
    </p>
</section>
